.PlayerScores {
  display: flex;
  flex-direction: column;
  height: 38rem;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.PlayerScores--active {
  background-color: var(--color-light-gray);
}

.PlayerScores--active .PlayerScores__name::after {
  color: var(--color-alert);
  content: "\2022";
  font-size: 110%;
  position: absolute;
}

.PlayerScores--primary .PlayerScores__global-score {
  color: var(--color-primary);
}

.PlayerScores--secondary .PlayerScores__global-score {
  color: var(--color-secondary);
}

.PlayerScores__name {
  color: var(--color-dark-gray);
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin: 0 0 0.2rem;
}

.PlayerScores__global-score {
  font-size: 5rem;
  margin: 0 0 9rem;
}

.PlayerScores__round-score-wrapper {
  background-color: var(--color-medium-gray);
  color: var(--color-white);
  font-size: 0.7rem;
  margin: 0 auto;
  padding: 1rem 0 0.6rem;
  width: 8rem;
}

.PlayerScores__round-score-title {
  margin: 0 0 0.5rem;
}

.PlayerScores__round-score {
  font-size: 2rem;
  margin: 0;
}
