.Button {
  background-color: transparent;
  border: none;
  color: var(--color-dark-gray);
  font-family: var(--font-primary);
  font-size: 1.5rem;
  margin: 0;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.Button:hover {
  background-color: var(--color-white);
}

.Button:hover .Button__icon {
  margin-right: 0.75rem;
}

.Button__icon {
  color: var(--color-secondary);
  margin-right: 0.5rem;
  transition: margin-right 0.3s;
}
