.Match {
  background-color: var(--color-white);
  box-shadow: 0px 0.5rem 1rem var(--color-dark-shadow);
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  width: 63rem;
}

.Match__instructions {
  background-color: var(--color-white);
  color: var(--color-dark-gray);
  padding: 0.3rem;
  text-align: center;
}

.Match__left-side {
  grid-area: 1 / 1 / auto / span 2;
}

.Match__right-side {
  grid-area: 1 / 3 / auto / span 2;
}

.Match__dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / auto / span 2;
  justify-content: space-around;
}

.Match__winner-notice {
  color: var(--color-success);
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.1rem var(--color-warning);
}
