.Die {
  border: 0.05rem solid var(--color-medium-gray);
  border-radius: 0.4rem;
  box-shadow: 0px 0.5rem 1rem var(--color-dark-shadow);
  cursor: grab;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

.Die:active {
  box-shadow: none;
  cursor: grabbing;
  outline: none;
  transform: rotate(180deg) scale(1.5);
}

.Die:focus {
  outline: none;
}
