:root {
  --color-primary: #E80AC2;
  --color-secondary: #FE004D;
  --color-success: #3ADB76;
  --color-warning: #FFAE00;
  --color-alert: #EB4D4D;
  --color-white: #FEFEFE;
  --color-light-gray: #F7F7F7;
  --color-medium-gray: #808080;
  --color-dark-gray: #555555;
  --color-black: #212121;

  --color-dark-shadow: hsla(0, 0%, 0%, 0.2);

  --font-primary: 'HUGEAvantGardeBold', sans-serif;

  font-family: var(--font-primary);
}

#root {
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@font-face {
  font-family: 'HUGEAvantGardeBold';
  src:
    url('fonts/huge_agb_v5-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/huge_agb_v5-webfont.woff') format('woff'),
    url('fonts/huge_agb_v5-webfont.ttf') format('truetype'),
    url('fonts/huge_agb_v5-webfont.svg#svgFontName') format('svg');
}
